.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;

}

.dialogsItems  {
    padding: 10px;
}

.dialogsItems .active {
    color:gold
}

.dialog a {
    text-decoration: none;
    color:hotpink
}


.messages {
    padding: 20px;
}

.message {

}